<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ecomerce/customer_web/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /ecomerce/customer_web/index.html [L]
</IfModule>
