<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Security: prevent direct browsing of dot files and sql files
<FilesMatch "(\.(sql|env|git|log))$">
    Order allow,deny
    Deny from all
</FilesMatch>
